body {
    background-color: #faebd7;
  }
  hr{
    border-style:none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 60px;
  }
  .image{
      border-radius: 50%;
      background-color: yellow;
      
  }
  h1{
      color: brown;
  }
  h2{
      color: darkgoldenrod;
      font-size: 20px;
      font-style: italic;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
.facebook:hover{
    color: rgba(255, 0, 0, 0.37);

}
.contactdetails:active{
    color: black;
}
.submit:active{
    color:red;
    background-color: yellow;
}
.objectives::after{
    content: " Software Tester and QA expert";
    color: red;
}
.thankyou{
    text-align: center;
}
  

